#vibragames_filter{
    padding: 0px 0px 0px 60%;

}

#vibragames_length{
    margin: 5% 0% 0px 30%;

}

#vibragames{
    margin: 0% 10% 0% 5%;

}

#create_user{
    margin: 0% 0% 2% 80%;
}

h2 {

    margin: 3% 0% 0% 9%;

}
